# SFTP Credentials
SFTP_USER=your_username
SFTP_PASS=your_password
SFTP_PORT=3373

# Storage Configuration
# Options: LOCAL, S3
STORAGE_TYPE=LOCAL

# S3 / MinIO Configuration (Required if STORAGE_TYPE=S3)
S3_ENDPOINT=http://localhost:9000
S3_KEY=minioadmin
S3_SECRET=minioadmin
